* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* prevents scrollbars */
}


/* HEADING AREA */
header .heading {
    text-align: center;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e3888;
    height: 80px;
}

header .heading h1 {
    color: #fff;
    font-size: 1.85rem;
    font-weight: 500;
    margin-right: 20px;
}



/* MAIN BODY */
main {
    background-color: #282b30;
    position: relative;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* INPUT AREA */
/* Data area */
.data-box {
    background-color: rgb(20, 20, 20);
    height: 85%;
    width: 25%;
    margin: 0 2.5rem 0 3rem;
    padding: 1rem 1.75rem;
    border-radius: 1rem;;
}

/* Headings */
.data-box p {
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.node-data {
    margin-bottom: 1.5rem;
}

/* Text Input Area */
.input-box {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
}

#nodes-input {
    height: 20vh;
}

#edges-input {
    height: 26vh;
}


/* EDITOR THEME */
/* Gutter background */
.ace-monokai .ace_gutter {
    background-color: #212636 !important;
}
/* Gutter background of current line */
.ace-monokai .ace_gutter-active-line {
    background-color: #273044 !important;
}

/* Main text area background */
.ace-monokai .ace_content {
    background-color: #181c24 !important;
}
/* Main text area background of current line*/
.ace-monokai .ace_marker-layer .ace_active-line {
    background-color: #222733 !important;
}

/* Mouse Selected area background */
.ace-monokai .ace_marker-layer .ace_selection {
    background: #2c3344 !important; 
}

/* Error Line Mark */
.ace_error-line {
    position: absolute;
    width: 100% !important;
    background-color: rgba(255, 0, 0, 0.15) !important;
    z-index: 5;
}
/* .ace-monokai .ace_marker-layer .ace_active-line {
    background-color: transparent !important;
}
*/
.error-msg {
    height: 1.2em;   /* Reserve space -> even if not visible */
    color: #ff4d4f;
    font-size: 0.823rem;
    margin-top: 4px;
    font-family: monospace;
}



/* Font Size */
.ace_editor,.ace_editor .ace_content {
    font-size: 0.9rem; 
}


/* Box Shadows */
.ace-editor {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    transition: box-shadow 0.2s ease;
}
.ace_editor:focus-within {
    box-shadow: 0 0 0 2px #46f293; 
    transition: box-shadow 0.2s ease;
}


/* Scrollbar */
.ace_editor ::-webkit-scrollbar {
    width: 16px;
    background: #181c24;
}
.ace_editor ::-webkit-scrollbar-thumb {
    background: #2c3344;
    border-radius: 8px;
    border: 4px solid #181c24; 
}
.ace_editor ::-webkit-scrollbar-thumb:hover {
    background: #3a4257;
}



/* Toggle boxes */
.toggle-box {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
    justify-content: space-evenly;
    align-items: flex-start;
}

.toggle-btn {
    background: #222;
    color: #fff;
    border: 2px solid #46f293;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-size: 1rem;
    height: 3rem;
    width: 7.2rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    outline: none;
}

.toggle-btn.active {
    background: #46f293;
    color: #222;
    font-weight: bold;
    border: 2px solid #46f293;
}














/* GRAPH */
.draw-area {
    background-color: #101014;
    background-color: #fff;
    height: 85%;
    width: 70%;
    margin: 0 3rem 0 2.5rem;
    position: relative;
    padding: 7px;
    border-radius: 1.5rem;
}

/* Tooltip  */
.node-tooltip {
    position: absolute;
    padding: 8px 12px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

/* Drawing Area */
#area-svg {
    background-color: #1b1a25;
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

/* Node Circle */
.node-circle {
    stroke: 1;
    cursor: pointer;
}

/* Edges */
.link-edge {
    stroke: #46f293;
    stroke-width: 1;
    fill: none;
}

/* Node Label */
.node-label {
    text-anchor: middle;
    font-size: 6px;
    user-select: none;
    fill: white;
    cursor: pointer;
    pointer-events: none;  /* Tooltip won't be affected */
}




/* Tree Graph Toggle */
.mode-toggle {
    position: absolute;  /* absolute inside heading */
    right: 30px;
    display: flex;
    width: 140px;       /* adjust size */
    height: 40px;
    border-radius: 15px;
    background: #555;      /* default background */
    outline: 4px solid #252525;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.mode-toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;         /* half width of container */
    height: 100%;
    background: #46f293; /* green highlight */
    border-radius: 15px;
    transition: transform 0.3s ease;
    z-index: 0;
}

.mode-toggle .tab {
    flex: 1;
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
    color: white;
}

.mode-toggle .tab.active {
    color: black;
}
